<div class="container">
    <p>Ng Class - Pista de Dança</p>
</div>
<br>
<div class="pista">
    <div class="caixa" [ngClass]="{'verde': valor, 'azul': !valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': valor, 'amarelo': !valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': valor, 'roxo': !valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': valor, 'cinza': !valor}"></div>
    <div class="caixa" [ngClass]="{'verde': !valor, 'azul': valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': !valor, 'amarelo': valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': !valor, 'roxo': valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': !valor, 'cinza': valor}"></div>
</div>
<div class="pista">
    <div class="caixa" [ngClass]="{'verde': !valor, 'azul': valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': !valor, 'amarelo': valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': !valor, 'roxo': valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': !valor, 'cinza': valor}"></div>
    <div class="caixa" [ngClass]="{'verde': valor, 'azul': !valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': valor, 'amarelo': !valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': valor, 'roxo': !valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': valor, 'cinza': !valor}"></div>
</div>
<div class="pista">
    <div class="caixa" [ngClass]="{'verde': valor, 'azul': !valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': valor, 'amarelo': !valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': valor, 'roxo': !valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': valor, 'cinza': !valor}"></div>
    <div class="caixa" [ngClass]="{'verde': !valor, 'azul': valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': !valor, 'amarelo': valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': !valor, 'roxo': valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': !valor, 'cinza': valor}"></div>
</div>
<div class="pista">
    <div class="caixa" [ngClass]="{'verde': !valor, 'azul': valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': !valor, 'amarelo': valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': !valor, 'roxo': valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': !valor, 'cinza': valor}"></div>
    <div class="caixa" [ngClass]="{'verde': valor, 'azul': !valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': valor, 'amarelo': !valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': valor, 'roxo': !valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': valor, 'cinza': !valor}"></div>
</div>
<div class="pista">
    <div class="caixa" [ngClass]="{'verde': valor, 'azul': !valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': valor, 'amarelo': !valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': valor, 'roxo': !valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': valor, 'cinza': !valor}"></div>
    <div class="caixa" [ngClass]="{'verde': !valor, 'azul': valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': !valor, 'amarelo': valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': !valor, 'roxo': valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': !valor, 'cinza': valor}"></div>
</div>
<div class="pista">
    <div class="caixa" [ngClass]="{'verde': !valor, 'azul': valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': !valor, 'amarelo': valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': !valor, 'roxo': valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': !valor, 'cinza': valor}"></div>
    <div class="caixa" [ngClass]="{'verde': valor, 'azul': !valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': valor, 'amarelo': !valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': valor, 'roxo': !valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': valor, 'cinza': !valor}"></div>
</div>
<div class="pista">
    <div class="caixa" [ngClass]="{'verde': valor, 'azul': !valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': valor, 'amarelo': !valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': valor, 'roxo': !valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': valor, 'cinza': !valor}"></div>
    <div class="caixa" [ngClass]="{'verde': !valor, 'azul': valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': !valor, 'amarelo': valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': !valor, 'roxo': valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': !valor, 'cinza': valor}"></div>
</div>
<div class="pista">
    <div class="caixa" [ngClass]="{'verde': !valor, 'azul': valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': !valor, 'amarelo': valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': !valor, 'roxo': valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': !valor, 'cinza': valor}"></div>
    <div class="caixa" [ngClass]="{'verde': valor, 'azul': !valor}"></div>
    <div class="caixa" [ngClass]="{'vermelho': valor, 'amarelo': !valor}"></div>
    <div class="caixa" [ngClass]="{'rosa': valor, 'roxo': !valor}"></div>
    <div class="caixa" [ngClass]="{'laranja': valor, 'cinza': !valor}"></div>
</div>